body{
  border: 2px solid black;
}
.container {
  max-width: 400px;
  margin: 2em auto;
  background: #fff;
  padding: 1.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.balance, .inc-exp {
  margin-bottom: 1em;
}
.inc-exp div {
  display: inline-block;
  width: 48%;
}

form input, form button {
  width: 100%;
  padding: 0.5em;
  margin: 0.3em 0;
}
#list {
  list-style: none;
  padding: 0;
}
#list li {
  display: flex;
  justify-content: space-between;
  background: #e9e9e9;
  margin: 0.3em 0;
  padding: 0.5em;
}
.plus { border-right: 5px solid green; }
.minus { border-right: 5px solid red; }
.delete-btn {
  cursor: pointer;
  color: red;
  border: none;
  background: none;
}
button{
  background-color: blue;
  color: white;
}
h1:hover{
  font-weight: 900px;
  
}
p{
  text-align: center;
}